.about_wrapper {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
  font-weight: 200;;
  color: white;
  text-align: left;
  margin: 2em;
}

.about_header {
  font-family: "Rubik", sans-serif;
  font-weight: 900;
  font-style: italic;
  font-size: 3rem;
  line-height: 1;
  text-transform: uppercase;
}
.about_content p {
  font-size: 1.2rem;
  font-weight: 400;
}

.about_content ul{ 
  margin-top: 1em;
  margin-left: 0;
  text-align: justify;
  padding-left: 1em;
}

.about_container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
