.wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
}
.wrapper .nav {
  flex: 0 0 60px;
}
.wrapper .content {
  flex-grow: 1;
  width: 100%;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.content>div, .content>div>div, .content>div>div>div {
  height: 100%;
}

.wrapper .content::-webkit-scrollbar {
  display: none;
}

.wrapper .footer {
  flex: 0 0 20px;
  padding-bottom: 10px;
  color: white;
  background: -webkit-linear-gradient(#eee, #333);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#hero {
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 1;
  visibility: visible;
}

#Page {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
}
