@import url("https://fonts.googleapis.com/css?family=Lato:300,400|Poppins:300,400,800&display=swap");
* {
  margin: 0px;
  padding: 0;
}

.projects-header {
  font-family: "Rubik", sans-serif;
  font-weight: 900;
  font-style: italic;
  font-size: 3rem;
  line-height: 1;
  text-transform: uppercase;
  color: white;
}

.avatar {
  vertical-align: middle;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid grey;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  margin: 5px;
}

.container .post {
  border-radius: 3px;
  box-shadow: 5px 5px 2.5px #124a3d;
  width: 100%;
  height: 500px;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  position: relative;
}
.container .post:hover .header_post {
  margin-top: -20px;
}
.container .post:hover .body_post {
  height: 60%;
}
.container .post:hover .main-img {
  transform: translatey(-10px) translatex(-5px) scale(1.05);
}
.container .post .header_post {
  width: 100%;
  height: 50%;
  background: #ddd;
  position: absolute;
  top: 0;
  -webkit-transition: cubic-bezier(0.68, -0.55, 0.27, 1.55) 320ms;
  -moz-transition: cubic-bezier(0.68, -0.55, 0.27, 1.55) 320ms;
  -ms-transition: cubic-bezier(0.68, -0.55, 0.27, 1.55) 320ms;
  -o-transition: cubic-bezier(0.68, -0.55, 0.27, 1.55) 320ms;
  transition: cubic-bezier(0.68, -0.55, 0.27, 1.55) 320ms;
}
.container .post .header_post .main-img {
  max-width: 100%;
  height: auto;
  transition: ease-in-out 600ms;
}
.container .post .body_post {
  width: 100%;
  height: 50%;
  background-image: linear-gradient(
    to bottom right,
    #c5ebd8,
    #13a884
  );
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-transition: cubic-bezier(0.68, -0.55, 0.27, 1.55) 320ms;
  -moz-transition: cubic-bezier(0.68, -0.55, 0.27, 1.55) 320ms;
  -ms-transition: cubic-bezier(0.68, -0.55, 0.27, 1.55) 320ms;
  -o-transition: cubic-bezier(0.68, -0.55, 0.27, 1.55) 320ms;
  transition: cubic-bezier(0.68, -0.55, 0.27, 1.55) 320ms;
}
.container .post .body_post .post_content {
  width: 80%;
  height: 80%;
  position: relative;
  margin-top: 2rem;
}
.container .post .body_post .post_content h1 {
  font-size: 26px;
  letter-spacing: 2px;
  font-weight: 400;
  text-transform: uppercase;
  padding-bottom: 0.5rem;
}
.container .post .body_post .post_content p {
  font-size: 14px;
  font-weight: normal;
  overflow: hidden;
}

.post_content hr {
  color: rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.5);
  height: 1px;
  margin: 5px 0;
}

.container .post .body_post .post_content .container_infos {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  padding-top: 25px;
}
.container .post .body_post .post_content .container_infos .postedBy {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 12px;
}
.container .post .body_post .post_content .container_infos .postedBy span {
  font-size: 12px;
  text-transform: uppercase;
  opacity: 0.5;
  letter-spacing: 1px;
  font-weight: bold;
}
.container .post .body_post .post_content .container_infos .container_tags {
  display: flex;
  flex-direction: column;
}
.container
  .post
  .body_post
  .post_content
  .container_infos
  .container_tags
  span {
  font-size: 12px;
  text-transform: uppercase;
  opacity: 0.5;
  letter-spacing: 1px;
  font-weight: bold;
}
.container
  .post
  .body_post
  .post_content
  .container_infos
  .container_tags
  .tags
  ul {
  display: flex;
}
.container
  .post
  .body_post
  .post_content
  .container_infos
  .container_tags
  .tags
  ul
  li {
  font-size: 12px;
  letter-spacing: 2px;
  list-style: none;
  margin-left: 8px;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.container
  .post
  .body_post
  .post_content
  .container_infos
  .container_tags
  .tags
  ul
  li:first-child {
  margin-left: 0px;
}
.container
  .post
  .body_post
  .post_content
  .container_infos
  .container_tags
  .tags
  ul
  li:before {
  content: "";
  text-align: center;
  width: 100%;
  height: 5px;
  background: #fc6042;
  opacity: 0.5;
  position: absolute;
  bottom: 0;
  z-index: -1;
  padding: 0px 1px;
  -webkit-transition: cubic-bezier(0.68, -0.55, 0.27, 1.55) 320ms;
  -moz-transition: cubic-bezier(0.68, -0.55, 0.27, 1.55) 320ms;
  -ms-transition: cubic-bezier(0.68, -0.55, 0.27, 1.55) 320ms;
  -o-transition: cubic-bezier(0.68, -0.55, 0.27, 1.55) 320ms;
  transition: cubic-bezier(0.68, -0.55, 0.27, 1.55) 320ms;
}

.container .card_repoUrl {
  text-decoration: none;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
}

.container .card_repoUrl a {
  float: right;
}
.container
  .post
  .body_post
  .post_content
  .container_infos
  .container_tags
  .tags
  ul
  li:hover:before {
  height: 18px;
}

@keyframes top {
  0% {
    opacity: 0;
    bottom: -80px;
  }
  100% {
    opacity: 1;
    bottom: 0px;
  }
}
@keyframes icon {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  50% {
    opacity: 1;
    transform: scale(1.3) rotate(-2deg);
  }
  100% {
    opacity: 1;
    bottom: 0px;
  }
}

.body-container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .body-container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .body-container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .body-container {
    width: 1170px;
  }
}
